@charset "UTF-8";
@use "sass:map";

/**
  * Name: 
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import "responsive.css";
@import "swiper-bundle.min.css";
@import "magnific.popup.css";
/* @import "../icon/icon.css"; */
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
@import "bootstrap.min.css";



@mixin flex($alignItem, $justifyContent) {
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
}

@mixin grid($loop, $num) {
    display: grid;
    grid-template-columns: repeat($loop, $num);
}

@mixin transformScale {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

@mixin topcenter() {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin center() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin wh-full() {
    width: 100%;
    height: 100%;
}

// --------------------------
@mixin transition3 () {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@mixin transition4 () {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@mixin transition5 () {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@mixin transition6 () {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

@mixin hidden {
    opacity: 0;
    visibility: hidden;
}

@mixin visible {
    opacity: 1;
    visibility: visible;
}

// Responsive
$breakpoints: ("sm": 575px,
    "md": 767px,
    "lg": 991px,
    "llg": 1024px,
    "xl": 1199px,
    "xxl": 1439px,
    "xxxl": 1599px,
    "full": 1920px);

$breakpoints-min: ("sm": 576px,
    "md": 768px,
    "lg": 992px,
    "llg": 1025px,
    "xl": 1200px,
    "xxl": 1440px,
    "xxxl": 1600px,
    "full": 1921px);

@mixin res($size, $type: max, $size2: null) {
    @if $type==max {
        $breakpoint: map.get($breakpoints, $size);

        @if $breakpoint {
            @media (max-width: $breakpoint) {
                @content;
            }
        }
    }

    @else if $type==min {
        $breakpoint: map.get($breakpoints-min, $size);

        @if $breakpoint {
            @media (min-width: $breakpoint) {
                @content;
            }
        }
    }

    @else if $type==between and $size2 !=null {
        // min, between, max 
        $min: map.get($breakpoints-min, $size);
        $max: map.get($breakpoints, $size2);

        @if $min and $max {
            @media (min-width: $min) and (max-width: $max) {
                @content;
            }
        }
    }
}

$font-main:"Afacad",
sans-serif;
$fontIcon: "icomoon";

:root {
    --body: #020206;
    --white: #ffffff;
    --black: #000000;
    --primary: #c8102e;
    --secondary: #d7eb3a;
    --third: rgba(44, 129, 83, 1);
    --text: #5f615e;
    --text-2: #8a8c8a;
    --text-3: #acafab;
    --text-4: #e4e4e4;
    --text-5: #ffffff80;
    --bg: #e4e4e4;
    --bg-2: #f5f5f5;
    --bg-3: #021a62;
    --bg-4: #534696;
    --bg-5: #c8a07c;
    --bg-6: #b2cbea;
    --bg-7: #ec6e1a;
    --bg-8: #fafafa;
    --bg-9: #f6f4f1;
    --bg-10: #c8102e12;
    --bg-11: #eedfc6;
    --bg-12: #f7f7f7;
    --bg-13: #f8f8f8;
    --line: #ededed;
    --line-2: #ffffff33;
    --line-3: #ffffff1a;
    --line-4: #ffffff80;
    --line-5: #ffffffb3;
    --line-6: #e7e7e7;
    --line-7: #e2e2e2;
    --line-8: #00000012;
    --shadow-1: #a3a3a340;
    --linear-1: linear-gradient(180deg, rgba(246, 221, 190, 0) 0%, rgba(246, 221, 190, 0.5) 100%);
    --linear-2: linear-gradient(137.6deg, #c09c71 23.87%, #664b18 99.83%);
    --linear-3: linear-gradient(285.63deg, #4b2c17 5.45%, #905e3d 94.52%);
    --linear-4: linear-gradient(133.57deg, #fff0d3 25.62%, #ebd1a2 100%);
    --linear-5: linear-gradient(138.03deg, #fff3e5 23.68%, #ffcda2 100%);
    --verified: #00bf43;
    --success: #3dab25;
}

/* Start -- Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Elements
-------------------------------------------------------------- */
html {
    /* margin-right: 0 !important; */
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Afacad", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    background-color: #020206;
}

body::-webkit-scrollbar {
    /* width: 0px; */
}

body::-webkit-scrollbar-thumb {
    /* background-color: var(--primary); */
}

img {
    max-width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

.row {
    margin-right: -16px;
    margin-left: -16px;

    >* {
        padding-left: 16px;
        padding-right: 16px;
    }

    @include res(xl, min) {
        margin-right: -24px;
        margin-left: -24px;

        >* {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}


.container {
    max-width: 1472px;
    width: 100%;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;

    @include res(xl, min) {
        max-width: 1488px;
        padding-left: 24px;
        padding-right: 24px;
    }
}


.container-full {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 16px;

    @include res(xl, min) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include res(xxxl, min) {
        padding-left: 48px;
        padding-right: 48px;
    }
}

.container-full-2 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 16px;

    @include res(xl, min) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include res(xxxl, min) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.container-full-3 {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 16px;

    @include res(xl, min) {
        padding-left: 24px;
        padding-right: 24px;
    }

    @include res(xxxl, min) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.container-layout-right {
    width: calc(100vw - ((100vw - 1548px) / 2) - 4px);
    margin-right: unset;
    max-width: 100%;
    margin-left: auto;
    padding-left: 15px;
}

// .container-filter {
//     max-width: 1464px;
//     margin: 0 auto;
//     padding-left: 12px;
//     padding-right: 12px;

//     .row {
//         margin-right: -12px;
//         margin-left: -12px;

//         >* {
//             padding-left: 12px;
//             padding-right: 12px;
//         }
//     }
// }

svg path {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

button {
    background: transparent;
    border: 0;
    display: inline-flex;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul,
li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

b,
strong {
    font-weight: bolder;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* table {
    width: 100%;
    overflow-x: auto;
    table-layout: auto;
    border-collapse: collapse;
} */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    /* border: 1px solid #FFFFFF1A; */
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    /* line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 99px;
    padding: 18px 23px;
    background: #FFFFFF1A;
    color: #fff;
    backdrop-filter: blur(12px); */
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: white;

    &::placeholder {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: white;
    }
}


::-webkit-input-placeholder {
    color: #8a8aa0;
}

:-moz-placeholder {
    color: #8a8aa0;
}

::-moz-placeholder {
    color: #8a8aa0;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Afacad", sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: 0;
    color: var(--white);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Afacad", sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: 0;
}

h1,
.h1 {
    font-size: clamp(32px, 5.5vw, 56px);
    line-height: clamp(44px, 6.5vw, 67px);
}

h2,
.h2 {
    font-size: clamp(28px, 3.2vw, 40px);
    line-height: clamp(32px, 3.2vw, 40px);
}

/* &.type-semibold {
    line-height: 120%;
    font-weight: 600;
} */

h3,
.h3 {
    font-size: clamp(20px, 2.2vw, 32px);
    line-height: clamp(28px, 3vw, 43px);
}

h4,
.h4 {
    font-size: clamp(20px, 3vw, 24px);
    line-height: clamp(26px, 4vw, 32px);
}

h5,
.h5 {
    font-size: clamp(18px, 3vw, 20px);
    line-height: clamp(24px, 4vw, 27px);
}

h6,
.h6 {
    font-size: 18px;
    line-height: 24px;
}

.text-display {
    font-size: clamp(40px, 6vw, 70px);
    line-height: 100%;
}

.text-display-2 {
    font-size: clamp(32px, 5vw, 48px);
    line-height: 120%;
}

.text-large {
    font-size: 16px;
    line-height: 22px;
}

.text-small {
    font-size: 14px;
    line-height: 20px;
}

.text-small-2 {
    font-size: 12px;
    line-height: 16px;
}

.text-small-3 {
    font-size: 10px;
    line-height: 14px;
}

.font-main {
    font-family: "Afacad", sans-serif;
}

.font-2 {
    font-family: "Ballet", cursive !important;
}

a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Afacad", sans-serif;
    color: var(--white);
}

a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

// -- Custom 
.z-5 {
    z-index: 5;
}

.tf-grid-layout {
    display: grid;
    column-gap: 12px;
    row-gap: 32px;

    &.tf-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    &.tf-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.tf-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.tf-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.tf-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    &.tf-col-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    .wd-full {
        grid-column: 1 / -1;
    }

    .wd-2-cols {
        grid-column: span 2;
    }


    @include res(sm, min) {
        &.sm-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.sm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.sm-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.sm-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.sm-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.sm-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(md, min) {
        &.md-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.md-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.md-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.md-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.md-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.md-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(lg, min) {
        column-gap: 24px; //

        &.lg-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.lg-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.lg-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.lg-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.lg-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.lg-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(xl, min) {
        row-gap: 48px; //
        column-gap: 48px; //

        &.row-xl-gap-40 {
            row-gap: 40px;
        }

        &.row-xl-gap-56 {
            row-gap: 56px;
        }

        &.xl-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.xl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.xl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.xl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.xl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.xl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    @include res(xxl, min) {
        &.xxl-col-2 {
            grid-template-columns: 1fr 1fr;
        }

        &.xxl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.xxl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.xxl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.xxl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.xxl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

/* End -- Reset CSS */

.link {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
        color: var(--primary) !important;
    }
}

/* Button */
.tf-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 12px;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 31px;
    font-weight: 600;
    border-radius: 999px;
    transition: all 0.3s ease;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 98.21%);
    border: 1px solid #FFFFFF1A;
    backdrop-filter: blur(4px);

    .icon {
        font-size: 24px;
    }

    &.btn-line-linear {
        border-color: transparent;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 999px;
            z-index: 1;

            background: linear-gradient(90deg,
                    #fdb79e 0%,
                    #fdd1b1 25%,
                    #feeacd 50%,
                    #fdd1b1 75%,
                    #fdb79e 100%);
            background-size: 200% 100%;
            background-position: 200% 0;
            animation: bgMove 3s linear infinite;
        }

        &::before {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            border-radius: 999px;
            background-color: var(--body);
            z-index: 2;
        }

        .text-btn {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            gap: 20px;
            background: linear-gradient(90deg,
                    #fdb79e 0%,
                    #fdd1b1 25%,
                    #feeacd 50%,
                    #fdd1b1 75%,
                    #fdb79e 100%);
            background-size: 200% 100%;
            background-position: 200% 0;
            animation: bgMove 3s linear infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        &:hover {
            // background: linear-gradient(90deg, #fdb79e 0%, #fff 100%);
            // .text-btn{}
        }
    }

    &.hv-scale {
        &:hover {
            transform: translateY(-2px);
        }
    }

    &.hv-linear {

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 999px;
            background: linear-gradient(90deg,
                    #fdb79e 0%,
                    #fdd1b1 25%,
                    #feeacd 50%,
                    #fdd1b1 75%,
                    #fdb79e 100%);
            background-size: 200% 100%;
            background-position: 200% 0;
            animation: bgMove 3s linear infinite;
            @include transition3();
            @include hidden();
        }

        .text-btn {
            position: relative;
            z-index: 2;
            @include transition3();
            color: var(--white);
            z-index: 1;
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &:hover,
        .active {
            &::after {
                @include visible();
            }

            .text-btn {
                color: var(--black);
            }
        }
    }

    &.btn-bg-linear {
        color: var(--black);
    }

    &:hover {
        // background-color: var(--line-3);
    }

    @include res(xxl) {
        padding: 13px 25px;
    }
}

.tab-demo_list {
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: auto;
    white-space: nowrap;

    @include res(lg, min) {
        justify-content: center;
    }
}

.animate-tab_fade {
    .tab-content {
        position: relative;
    }

    .tab-pane {
        display: block;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        transition-timing-function: ease-in;
        transition-duration: 0.2s;

        &.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 2;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
    }

}

/* -- Header -- */
.tf-header {
    padding-top: 24px;
    padding-bottom: 24px;

    @include res(lg) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

header {
    position: sticky;
    z-index: 100;
    @include transition3();
}

.header-sticky {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
}

.header-inner {
    display: flex;
    gap: 12px;
}

.header-left,
.header-right {
    flex: 1;
}

.header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
}

.btn-mobile-menu {
    @include flex(center, center);
    height: 26px;
    width: 26px;
    position: relative;

    span {
        @include transition3;
        display: block;
        width: 26px;
        height: 2px;
        background-color: var(--black);
        border-radius: 5px;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 2px;
        background-color: var(--black);
        border-radius: 1px;
        @include transition3;
    }

    &::before {
        top: 5px;
    }

    &::after {
        bottom: 5px;
    }

    &.style-white {

        span,
        &::after,
        &::before {
            background-color: var(--white)
        }
    }
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.navigation {
    &:not(.mobile) {
        display: flex;
        gap: 16px;
        border-radius: 999px;
        padding: 15px 31px;
        border: 1px solid #ffffff1a;
        backdrop-filter: blur(4px);
        background: #ffffff0d;
    }

    &.mobile {
        a {
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
        }
    }

    @include res(xxl, min) {
        gap: 32px;
    }
}

.nav-item {
    font-weight: 700;
}

.icon-close-popup {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white);
    z-index: 2;
    padding: 10px;
}

.canvas-mb {
    border: 0 !important;
    width: 320px !important;
}

.canvas-header,
.canvas-body {
    padding: 24px;
}

.canvas-header {
    background-color: var(--body);
}

.canvas-body {
    overscroll-behavior-y: contain;
    overflow-y: auto;
    flex: 1;
}

.text-linear {
    background: linear-gradient(90deg,
            #fdb79e 0%,
            #fdd1b1 25%,
            #feeacd 50%,
            #fdd1b1 75%,
            #fdb79e 100%);
    background-size: 200% 100%;
    background-position: 200% 0;
    animation: bgMove 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.link-linear {
    position: relative;
}

.link-linear::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fdb79e 0%, #feeacd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    opacity: 0;
    z-index: 2;
    pointer-events: none;

    @include transition3();
}

.link-linear:hover::before {
    opacity: 1;
}

/* Section */
.s-sub-title {
    font-weight: normal;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    &.wid-fix {
        max-width: 792px;
    }
}

.s-banner-hero {
    padding-top: 100px;
    position: relative;

    .s-img_item {
        position: absolute;
        top: -104px;
        left: 0;
        right: 0;
        bottom: 30%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .s_item {
        position: absolute;
        z-index: 3;

        &.pst_1 {
            top: 10%;
            left: 10%;
        }

        &.pst_2 {
            top: 50%;
            left: 12%;
        }

        &.pst_3 {
            top: 30%;
            left: 20%;
        }

        &.pst_4 {
            top: 10%;
            left: 60%;
        }

        &.pst_5 {
            top: 15%;
            left: 70%;
        }

        &.pst_6 {
            top: 78%;
            left: 60%;
        }

        &.pst_7 {
            top: 90%;
            left: 90%;
        }
    }

    .banner-hero {
        padding-bottom: 180px;

    }

    .badge-title {
        margin-bottom: 40px;
    }

    .hero-title {
        margin-bottom: 24px;
    }

    .s-sub-title {
        margin-bottom: 48px;
    }

    .group-btn {
        display: flex;
        justify-content: center;
        gap: 12px 24px;
    }

    @include res(xxl, min) {
        .group-btn {
            >* {
                min-width: 218px;
            }
        }
    }

    @include res(sm) {
        .group-btn {
            flex-wrap: wrap;

            >* {
                width: 100%;
            }
        }
    }
}

.hero-title {
    font-size: clamp(48px, 8vw, 96px);
    line-height: clamp(48px, 8vw, 96px);
    font-weight: 600;
}

.hero-title-2 {
    font-weight: 600;
    font-size: clamp(40px, 6vw, 80px);
    line-height: clamp(40px, 6vw, 80px);
}

.s-title {
    margin-bottom: 64px;
    text-align: center;

    .title {
        margin-bottom: 32px;
    }
}


.cirle-white {
    display: flex;
    width: 7px;
    height: 7px;
    background-color: var(--white);
    border-radius: 50%;
}

.s-support {
    position: relative;

    .wrap {
        display: flex;
        justify-content: center;
        gap: 12px;
        overflow: auto;
        white-space: nowrap;
    }

    .s-item {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        pointer-events: none;

        img {
            width: 100%;
        }
    }
}

.text-clip {
    color: var(--body);
    -webkit-text-stroke: 1px white;
}

.tf-marquee {
    overflow: hidden;
}

.infiniteSlide-text {
    gap: 56px;
    display: flex;
    white-space: nowrap;

    p {
        font-weight: 600;
        line-height: clamp(58px, 7vw, 84px);
    }
}

#wrapper {
    position: relative;
}

.s-item_blum {
    // background: radial-gradient(34.98% 34.98% at 50% 50%, #403FF5 0%, rgba(2, 2, 6, 0) 100%);
    // width: 2370px;
    // height: 2370px;
    // opacity: 0.5;
    // display: block;
    // position: absolute;
    // right: -875px;
    // top: 50%;
    // z-index: -1;

    // &.cl-2 {
    //     background: radial-gradient(34.98% 34.98% at 50% 50%, #F56427 0%, rgba(2, 2, 6, 0) 100%);
    //     right: unset;
    //     left: -50%;
    //     top: 58%;
    // }
}


.count-home {
    font-size: clamp(80px, 12vw, 200px);
    line-height: clamp(80px, 12vw, 200px);
    font-weight: 600;
    background: linear-gradient(96.94deg, #6329FF 6.08%, #36F5FF 88.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

.demo-filter {
    // display: flex;
    // gap: 24px;

    >* {
        // width: calc(100% / 4 - 92px);
    }

    @include res(sm) {
        margin-left: -6px;
        margin-right: -6px;

        >* {
            padding-left: 6px;
            padding-right: 6px;
        }
    }
}

.posttype-filter {
    display: flex;
    gap: 12px;
    align-items: center;
    // justify-content: center;
    overflow: auto;
    white-space: nowrap
}

.sw-dot-default {
    margin-top: 24px;

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background-color: transparent;
        position: relative;
        border: 1px solid transparent;
        @include transition3;
        opacity: 1;

        &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--text-2);
            @include transition3;
        }

        &.swiper-pagination-bullet-active {
            border: 1px solid var(--black);

            &::before {
                background-color: var(--black);
            }
        }

        @include res(md) {
            width: 16px;
            height: 16px;

            &::before {
                width: 6px;
                height: 6px;
            }
        }
    }

    &.style-white {
        .swiper-pagination-bullet {
            &.swiper-pagination-bullet-active {
                border: 1px solid var(--white);

                &::before {
                    background-color: var(--white);
                }
            }

            &::before {
                background-color: #FFFFFF99;
            }
        }
    }

    &.type-small {
        gap: 5px;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;

            &::before {
                width: 4px;
                height: 4px;
                background-color: #AFAFAF;
            }

            &.swiper-pagination-bullet-active {
                border: 1px solid var(--black);

                &::before {
                    background-color: var(--black);
                }
            }
        }
    }

    @include res(xl, min) {
        margin-top: 35px;
    }

    @include res(xxl, min) {
        margin-top: 56px;
    }
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #414141;
    @include transition3();

    &.style-large {
        width: 31px;
        height: 31px;
        backdrop-filter: blur(4px);
        background: #FFFFFF1A;
    }
}

.home-demo_box {
    margin-bottom: 40px;
    padding: 20px 12px;
    border: 1px solid #121212;
    border-radius: 16px;
    display: grid;
    gap: 16px;
    background-color: #121212;

    .dot-top {
        display: flex;
        gap: 8px;
    }

    .demo-name {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        text-transform: capitalize;
    }

    &:hover {
        color: var(--primary);
        border-color: var(--primary);

        .dot {
            background-color: var(--primary);
        }

    }

    &.style-2 {
        padding: 12px;
        padding-bottom: 24px;
        border-radius: 0px;
        position: relative;

        .image {
            img {
                object-position: top;
                object-fit: cover;
                aspect-ratio: calc(568/600);
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border: 1px solid;
            border-image-source: linear-gradient(90deg, #FDB79E 0%, #FEEACD 100%);
            border-image-slice: 1;
            @include transition3();
            @include hidden();
        }

        &:hover {
            border-color: transparent;
            color: white;

            &::after {
                @include visible();
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    @include res(md) {
        margin-bottom: 32px;
    }
}

.s-get-start {
    position: relative;

    .s_item {
        position: absolute;

        &.pst_1 {
            top: 10%;
            left: 10%;
        }

        &.pst_2 {
            top: 50%;
            left: 12%;
        }

        &.pst_3 {
            top: 30%;
            left: 20%;
        }

        &.pst_4 {
            top: 10%;
            left: 60%;
        }

        &.pst_5 {
            top: 15%;
            left: 70%;
        }

        &.pst_6 {
            top: 92%;
            left: 90%;
        }
    }
}

.form-get_email {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 98.21%);
    border: 1px solid #FFFFFF1A;
    backdrop-filter: blur(4px);
    padding: 11px;
    border-radius: 999px;


    input {
        background: #FFFFFF1A;
        border: 1px solid #FFFFFF1A;
        backdrop-filter: blur(4px);
        padding: 15px 31px;
        border-radius: 999px;
    }

    .ip {
        flex: 1;
    }

    .form-content {
        display: flex;
        gap: 12px;
    }

    @include res(xxl) {
        input {
            padding: 13px 25px;
        }
    }

    @include res(sm) {
        border-radius: 16px;

        .form-content {
            flex-direction: column;

            >* {
                width: 100%;
            }
        }
    }
}

.wg-feature {
    background-color: #121212;
    border-radius: 16px;
    border: 1px solid #FFFFFF33;
    padding: 31px;

    .feature_highlight {
        margin-bottom: 16px;
    }

    .feature_name {
        margin-bottom: 8px;
    }

    .feature_sub {
        color: #FFFFFF80;
        margin-bottom: 32px;
    }

    .feature_image {
        border-radius: 12px;
        overflow: hidden;
    }

    @include res(lg) {
        padding: 20px 16px;
    }
}

.benefit-list {
    display: grid;
    gap: 8px;
}

.benefit-item {
    display: flex;
    align-items: center;
    gap: 12px;

    .icon {
        font-size: 24px;
    }
}

.s-attract {
    position: relative;

    .image-right {
        position: relative;
    }

    .img-item {
        max-width: 200px;
        position: absolute;
        bottom: 75px;
        left: -75px;
        box-shadow: 1.06px 3.57px 5.94px 0px #00000007, 4.75px 15.97px 13.72px 0px #0000000B, 11.82px 39.71px 31.33px 0px #0000000E, 23.01px 77.31px 66.76px 0px #00000012, 39.08px 131.31px 128px 0px #0000001A;
    }

    .s-img_item {
        position: absolute;
        left: 0;
        right: 0;
        top: -102px;
        pointer-events: none;

        img {
            width: 100%;
        }
    }

    .benefit-list {
        margin-bottom: 64px;
    }
}

.s-inner-page {
    @include res(xl, min) {
        .s-title {
            line-height: 88px;
            margin-bottom: 56px;
        }
    }
}

.wg-box-icon {
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 98.21%);
    border: 1px solid #FFFFFF1A;
    backdrop-filter: blur(4px);
    position: relative;
    @include transition3();

    .icon {
        max-width: 100px;
        margin-bottom: 24px;
        @include transition3();
    }

    .name {
        margin-bottom: 8px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border: 1px solid;
        border-image-source: linear-gradient(90deg, #FDB79E 0%, #FEEACD 100%);
        border-image-slice: 1;
        @include transition3();
        @include hidden();
    }

    &:hover {
        border-color: transparent;

        .icon {
            transform: rotateY(180deg)
        }

        &::after {
            @include visible();
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
        }
    }

    @include res(xl, min) {
        padding: 48px 32px 40px;

        .icon {
            max-width: 150px;
            margin-bottom: 35px;
        }
    }
}

.swiper-slide {
    height: auto;

    >* {
        height: 100%;
    }
}

.grid-box_icon {
    @include res(xl) {
        gap: 24px;
    }

    @include res(md) {
        gap: 16px;
    }
}

/* Animation */
.effect-scroll {
    @include transition3();
}

@keyframes moveGradient {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0% 0;
    }
}


.ani-bg_linear {
    background: linear-gradient(90deg,
            #fdb79e 0%,
            #fdd1b1 25%,
            #feeacd 50%,
            #fdd1b1 75%,
            #fdb79e 100%);
    background-size: 200% 100%;
    background-position: 200% 0;
    animation: bgMoveSmooth 3s linear infinite;
}

@keyframes bgMoveSmooth {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: 0% 0;
    }
}

@keyframes bgMove {
    from {
        background-position: 200% 0;
    }

    to {
        background-position: 0% 0;
    }
}