/**
  * Name: 
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import "responsive.css";
@import "swiper-bundle.min.css";
@import "magnific.popup.css";
/* @import "../icon/icon.css"; */
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
@import "bootstrap.min.css";
:root {
  --body: #020206;
  --white: #ffffff;
  --black: #000000;
  --primary: #c8102e;
  --secondary: #d7eb3a;
  --third: rgba(44, 129, 83, 1);
  --text: #5f615e;
  --text-2: #8a8c8a;
  --text-3: #acafab;
  --text-4: #e4e4e4;
  --text-5: #ffffff80;
  --bg: #e4e4e4;
  --bg-2: #f5f5f5;
  --bg-3: #021a62;
  --bg-4: #534696;
  --bg-5: #c8a07c;
  --bg-6: #b2cbea;
  --bg-7: #ec6e1a;
  --bg-8: #fafafa;
  --bg-9: #f6f4f1;
  --bg-10: #c8102e12;
  --bg-11: #eedfc6;
  --bg-12: #f7f7f7;
  --bg-13: #f8f8f8;
  --line: #ededed;
  --line-2: #ffffff33;
  --line-3: #ffffff1a;
  --line-4: #ffffff80;
  --line-5: #ffffffb3;
  --line-6: #e7e7e7;
  --line-7: #e2e2e2;
  --line-8: #00000012;
  --shadow-1: #a3a3a340;
  --linear-1: linear-gradient(180deg, rgba(246, 221, 190, 0) 0%, rgba(246, 221, 190, 0.5) 100%);
  --linear-2: linear-gradient(137.6deg, #c09c71 23.87%, #664b18 99.83%);
  --linear-3: linear-gradient(285.63deg, #4b2c17 5.45%, #905e3d 94.52%);
  --linear-4: linear-gradient(133.57deg, #fff0d3 25.62%, #ebd1a2 100%);
  --linear-5: linear-gradient(138.03deg, #fff3e5 23.68%, #ffcda2 100%);
  --verified: #00bf43;
  --success: #3dab25;
}

/* Start -- Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Elements
-------------------------------------------------------------- */
html {
  /* margin-right: 0 !important; */
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Afacad", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: #020206;
}

body::-webkit-scrollbar-thumb {
  /* background-color: var(--primary); */
}

img {
  max-width: 100%;
  height: auto;
  transform: scale(1);
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.row {
  margin-right: -16px;
  margin-left: -16px;
}
.row > * {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 1200px) {
  .row {
    margin-right: -24px;
    margin-left: -24px;
  }
  .row > * {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container {
  max-width: 1472px;
  width: 100%;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1488px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-full {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 16px;
}
@media (min-width: 1200px) {
  .container-full {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1600px) {
  .container-full {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.container-full-2 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 16px;
}
@media (min-width: 1200px) {
  .container-full-2 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1600px) {
  .container-full-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container-full-3 {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 16px;
}
@media (min-width: 1200px) {
  .container-full-3 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1600px) {
  .container-full-3 {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.container-layout-right {
  width: calc(100vw - (100vw - 1548px) / 2 - 4px);
  margin-right: unset;
  max-width: 100%;
  margin-left: auto;
  padding-left: 15px;
}

svg path {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button {
  background: transparent;
  border: 0;
  display: inline-flex;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul,
li {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

b,
strong {
  font-weight: bolder;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* table {
    width: 100%;
    overflow-x: auto;
    table-layout: auto;
    border-collapse: collapse;
} */
textarea,
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=color] {
  /* border: 1px solid #FFFFFF1A; */
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  /* line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 99px;
  padding: 18px 23px;
  background: #FFFFFF1A;
  color: #fff;
  backdrop-filter: blur(12px); */
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: white;
}
textarea::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=datetime]::placeholder,
input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=time]::placeholder,
input[type=week]::placeholder,
input[type=number]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=color]::placeholder {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

::-webkit-input-placeholder {
  color: #8a8aa0;
}

:-moz-placeholder {
  color: #8a8aa0;
}

::-moz-placeholder {
  color: #8a8aa0;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Afacad", sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: 0;
  color: var(--white);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Afacad", sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 0;
}

h1,
.h1 {
  font-size: clamp(32px, 5.5vw, 56px);
  line-height: clamp(44px, 6.5vw, 67px);
}

h2,
.h2 {
  font-size: clamp(28px, 3.2vw, 40px);
  line-height: clamp(32px, 3.2vw, 40px);
}

/* &.type-semibold {
    line-height: 120%;
    font-weight: 600;
} */
h3,
.h3 {
  font-size: clamp(20px, 2.2vw, 32px);
  line-height: clamp(28px, 3vw, 43px);
}

h4,
.h4 {
  font-size: clamp(20px, 3vw, 24px);
  line-height: clamp(26px, 4vw, 32px);
}

h5,
.h5 {
  font-size: clamp(18px, 3vw, 20px);
  line-height: clamp(24px, 4vw, 27px);
}

h6,
.h6 {
  font-size: 18px;
  line-height: 24px;
}

.text-display {
  font-size: clamp(40px, 6vw, 70px);
  line-height: 100%;
}

.text-display-2 {
  font-size: clamp(32px, 5vw, 48px);
  line-height: 120%;
}

.text-large {
  font-size: 16px;
  line-height: 22px;
}

.text-small {
  font-size: 14px;
  line-height: 20px;
}

.text-small-2 {
  font-size: 12px;
  line-height: 16px;
}

.text-small-3 {
  font-size: 10px;
  line-height: 14px;
}

.font-main {
  font-family: "Afacad", sans-serif;
}

.font-2 {
  font-family: "Ballet", cursive !important;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Afacad", sans-serif;
  color: var(--white);
}

a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.z-5 {
  z-index: 5;
}

.tf-grid-layout {
  display: grid;
  column-gap: 12px;
  row-gap: 32px;
}
.tf-grid-layout.tf-col-2 {
  grid-template-columns: 1fr 1fr;
}
.tf-grid-layout.tf-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.tf-grid-layout.tf-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.tf-grid-layout.tf-col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.tf-grid-layout.tf-col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.tf-grid-layout.tf-col-7 {
  grid-template-columns: repeat(7, 1fr);
}
.tf-grid-layout .wd-full {
  grid-column: 1/-1;
}
.tf-grid-layout .wd-2-cols {
  grid-column: span 2;
}
@media (min-width: 576px) {
  .tf-grid-layout.sm-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .tf-grid-layout.sm-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tf-grid-layout.sm-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .tf-grid-layout.sm-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .tf-grid-layout.sm-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .tf-grid-layout.sm-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 768px) {
  .tf-grid-layout.md-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .tf-grid-layout.md-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tf-grid-layout.md-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .tf-grid-layout.md-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .tf-grid-layout.md-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .tf-grid-layout.md-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 992px) {
  .tf-grid-layout {
    column-gap: 24px;
  }
  .tf-grid-layout.lg-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .tf-grid-layout.lg-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tf-grid-layout.lg-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .tf-grid-layout.lg-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .tf-grid-layout.lg-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .tf-grid-layout.lg-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 1200px) {
  .tf-grid-layout {
    row-gap: 48px;
    column-gap: 48px;
  }
  .tf-grid-layout.row-xl-gap-40 {
    row-gap: 40px;
  }
  .tf-grid-layout.row-xl-gap-56 {
    row-gap: 56px;
  }
  .tf-grid-layout.xl-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .tf-grid-layout.xl-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tf-grid-layout.xl-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .tf-grid-layout.xl-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .tf-grid-layout.xl-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .tf-grid-layout.xl-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 1440px) {
  .tf-grid-layout.xxl-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .tf-grid-layout.xxl-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .tf-grid-layout.xxl-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .tf-grid-layout.xxl-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .tf-grid-layout.xxl-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .tf-grid-layout.xxl-col-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

#goTop {
  position: fixed;
  padding: 0;
  bottom: 40px;
  right: 20px;
  width: 38px;
  height: 38px;
  background: var(--black);
  color: var(--white);
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.1019607843);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#goTop .border-progress {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 1px solid #fff;
  mask-image: conic-gradient(#fff var(--progress-angle, 0deg), transparent 0);
  -webkit-mask-image: conic-gradient(#fff var(--progress-angle, 0deg), transparent 0);
  content: "";
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#goTop.show {
  opacity: 1;
  visibility: visible;
}
#goTop .icon {
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  animation: iconBounce 2s linear 0s infinite;
}
#goTop .icon-arrow-right-2 {
  transform: rotate(-90deg);
}
#goTop:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
  #goTop {
    right: 40px;
  }
}

/* End -- Reset CSS */
.link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.link:hover {
  color: var(--primary) !important;
}

/* Button */
.tf-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 12px;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 31px;
  font-weight: 600;
  border-radius: 999px;
  transition: all 0.3s ease;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 98.21%);
  backdrop-filter: blur(4px);
  height: 56px;
}
.tf-btn .icon {
  font-size: 24px;
}
.tf-btn.hv-light-skew {
  position: relative;
  overflow: hidden;
}
.tf-btn.hv-light-skew::before {
  background-image: -o-linear-gradient(left, transparent, #fdb79e, transparent);
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fdb79e #fdb79e), to(transparent));
  background-image: linear-gradient(90deg, transparent, #fdb79e, transparent);
  content: "";
  left: 150%;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  width: 200%;
  z-index: 3;
}
.tf-btn.hv-light-skew:hover::before {
  -webkit-animation: shine 0.75s cubic-bezier(0.01, 0.56, 1, 1);
  animation: shine 0.75s cubic-bezier(0.01, 0.56, 1, 1);
}
.tf-btn .overlay_text {
  display: flex;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border-radius: 999px;
  background-color: var(--body);
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
}
.tf-btn.btn-line-linear {
  border-color: transparent;
  position: relative;
  overflow: hidden;
}
.tf-btn.btn-line-linear::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 999px;
  z-index: 1;
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMove 3s linear infinite;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tf-btn.btn-line-linear::before {
  z-index: 3;
}
.tf-btn.btn-line-linear .text-btn {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: center;
  gap: 20px;
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMove 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.tf-btn.btn-tab {
  border: unset;
}
.tf-btn.btn-tab::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 999px;
  z-index: 1;
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMove 3s linear infinite;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.tf-btn.btn-tab .overlay_text {
  opacity: 0;
  visibility: hidden;
}
.tf-btn.btn-tab.active .overlay_text {
  opacity: 1;
  visibility: visible;
}
.tf-btn.btn-tab.active::after {
  opacity: 1;
  visibility: visible;
}
.tf-btn.btn-tab.active .text-btn {
  position: relative;
  z-index: 4;
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMove 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.tf-btn.btn-bg-linear {
  color: var(--black);
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMoveSmooth 3s linear infinite;
}
.tf-btn .text_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tf-btn .text-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 4;
}
.tf-btn .text-btn.gap-20 {
  gap: 20px;
}
@media (min-width: 1200px) {
  .tf-btn.style-large {
    max-width: 354px;
    width: 100%;
    height: 74px;
  }
}
@media (max-width: 1439px) {
  .tf-btn {
    padding: 13px 25px;
    height: 52px;
  }
}

.tab-demo_list {
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .tab-demo_list {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .tab-demo_list {
    margin-bottom: 40px;
  }
}

.animate-tab_fade .tab-content {
  position: relative;
}
.animate-tab_fade .tab-pane {
  display: block;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}
.animate-tab_fade .tab-pane.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  position: relative;
  z-index: 2;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
}

/* -- Header -- */
.tf-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .tf-header {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

header {
  position: sticky;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-sticky {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
}

.header-inner {
  display: flex;
  gap: 12px;
}

.header-left,
.header-right {
  flex: 1;
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.btn-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  position: relative;
}
.btn-mobile-menu span {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  width: 26px;
  height: 2px;
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMoveSmooth 3s linear infinite;
  border-radius: 5px;
}
.btn-mobile-menu::after, .btn-mobile-menu::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 2px;
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMoveSmooth 3s linear infinite;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-mobile-menu::before {
  top: 5px;
}
.btn-mobile-menu::after {
  bottom: 5px;
}
.btn-mobile-menu.style-white span, .btn-mobile-menu.style-white::after, .btn-mobile-menu.style-white::before {
  background-color: var(--white);
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.navigation:not(.mobile) {
  display: flex;
  gap: 16px;
  border-radius: 999px;
  padding: 15px 31px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.0509803922);
}
.navigation.mobile a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
@media (min-width: 1440px) {
  .navigation:not(.mobile) {
    gap: 32px;
  }
}

.nav-item {
  font-weight: 700;
}

.icon-close-popup {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white);
  z-index: 2;
  padding: 10px;
}

.canvas-mb {
  border: 0 !important;
  width: 320px !important;
}

.canvas-header,
.canvas-body {
  padding: 24px;
}

.canvas-header {
  background-color: var(--body);
}

.canvas-body {
  overscroll-behavior-y: contain;
  overflow-y: auto;
  flex: 1;
}

.text-linear {
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMove 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.link-linear {
  position: relative;
}

.link-linear::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #fdb79e 0%, #feeacd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link-linear:hover::before {
  opacity: 1;
}

/* Section */
.s-sub-title {
  font-weight: normal;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.5019607843);
}
.s-sub-title.wid-fix {
  max-width: 792px;
}

.s-banner-hero {
  padding-top: 100px;
  position: relative;
}
.s-banner-hero .s-img_item {
  position: absolute;
  top: -121px;
  left: 0;
  right: 0;
  bottom: 30%;
}
.s-banner-hero .s-img_item img {
  width: 100%;
  height: 100%;
}
.s-banner-hero .s_item {
  position: absolute;
  z-index: 3;
}
.s-banner-hero .s_item.pst_1 {
  top: 15.4%;
  left: 6.45%;
}
.s-banner-hero .s_item.pst_2 {
  top: 85.5%;
  left: 8.85%;
}
.s-banner-hero .s_item.pst_3 {
  top: 48.3%;
  left: 25.2%;
}
.s-banner-hero .s_item.pst_4 {
  top: -12.8%;
  left: 63.7%;
}
.s-banner-hero .s_item.pst_5 {
  top: 6.1%;
  left: 85.5%;
}
.s-banner-hero .s_item.pst_6 {
  top: 72.2%;
  left: 93.72%;
}
.s-banner-hero .s_item.pst_7 {
  top: 51%;
  left: 84%;
}
.s-banner-hero .s_item.pst_8 {
  top: 75.47%;
  left: 73.2%;
}
.s-banner-hero .badge-title {
  margin-bottom: 40px;
}
.s-banner-hero .hero-title {
  margin-bottom: 24px;
}
.s-banner-hero .s-sub-title {
  margin-bottom: 48px;
}
.s-banner-hero .group-btn {
  display: flex;
  justify-content: center;
  gap: 12px 24px;
}
@media (min-width: 1440px) {
  .s-banner-hero .group-btn > * {
    min-width: 218px;
  }
}
@media (max-width: 575px) {
  .s-banner-hero .group-btn {
    flex-wrap: wrap;
  }
  .s-banner-hero .group-btn > * {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .s-banner-hero {
    padding-bottom: 60px;
  }
}

.slider-home .swiper-slide {
  transition: all 0.3s ease;
  height: 720px;
  padding-top: 232px;
}
.slider-home .swiper-slide.swiper-slide-active {
  padding-top: 0;
}
.slider-home .swiper-slide.swiper-slide-active .image::after {
  opacity: 1;
  visibility: visible;
}
.slider-home .swiper-slide-prev,
.slider-home .swiper-slide-next {
  padding-top: 112px;
}
.slider-home .image {
  padding: 30px;
  padding-bottom: 0;
  background-color: #191E24;
  position: relative;
  overflow: hidden;
}
.slider-home .image img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
  height: 100%;
  object-position: top;
}
.slider-home .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMoveSmooth 3s linear infinite;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 1199px) {
  .slider-home .image {
    padding: 20px;
    padding-bottom: 0;
  }
  .slider-home .image img {
    height: 100%;
  }
  .slider-home .swiper-slide {
    padding-top: 90px;
    height: unset;
  }
  .slider-home .swiper-slide.swiper-slide-active {
    padding-top: 0;
  }
  .slider-home .swiper-slide-prev,
  .slider-home .swiper-slide-next {
    padding-top: 60px;
  }
}

.demo-card {
  z-index: 2;
  padding: 0px 29px;
  background: #151618;
  border: 0.81px solid;
  border-image-source: linear-gradient(180deg, #272727 0%, rgba(39, 39, 39, 0) 100%);
  box-shadow: 0px 3.25px 3.25px 0px rgba(0, 0, 0, 0.1607843137), 0px 30px 81.18px 0px #000000;
  border-radius: 16px;
  max-width: 276px;
  position: absolute;
  bottom: 22%;
  left: 20%;
  margin-bottom: 24px;
}
.demo-card .img {
  margin-top: -87px;
  max-width: 218px;
  margin-bottom: 16px;
}
.demo-card .content {
  margin-bottom: -24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.demo-card .title {
  margin-bottom: 8px;
}
.demo-card .sub-title {
  margin-bottom: 24px;
}
.demo-card .tf-btn {
  max-width: 180px;
  background: #000000;
  border-color: #000;
}
@media (max-width: 991px) {
  .demo-card {
    left: 5%;
    bottom: 5%;
  }
}
@media (max-width: 575px) {
  .demo-card {
    display: none;
  }
}

.hero-title {
  font-size: clamp(48px, 8vw, 96px);
  line-height: clamp(48px, 8vw, 96px);
  font-weight: 600;
}

.hero-title-2 {
  font-weight: 600;
  font-size: clamp(40px, 6vw, 80px);
  line-height: clamp(40px, 6vw, 80px);
}

.s-title {
  margin-bottom: 64px;
  text-align: center;
}
.s-title .title {
  padding-bottom: 15px;
}
@media (max-width: 1199px) {
  .s-title {
    margin-bottom: 40px;
  }
}

.cirle-white {
  display: flex;
  width: 7px;
  height: 7px;
  background-color: var(--white);
  border-radius: 50%;
}

.s-support {
  position: relative;
}
.s-support .wrap {
  display: flex;
  gap: 12px;
  overflow: auto;
  white-space: nowrap;
}
.s-support .s-item {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
}
.s-support .s-item img {
  width: 100%;
}
@media (min-width: 1440px) {
  .s-support .wrap {
    justify-content: center;
  }
}

.initial-child-container {
  flex: 0 0 auto;
  display: flex;
  min-width: auto;
  flex-direction: row;
  align-items: center;
  gap: 56px;
}
.initial-child-container p {
  font-weight: 600;
  font-size: clamp(64px, 10vw, 150px);
  line-height: clamp(64px, 10vw, 150px);
}

.marquee-wrapper {
  display: flex;
  animation: infiniteScroll 20s linear infinite;
  align-items: center;
  transition: animation-duration 100ms;
}

.text-clip {
  color: var(--body);
  -webkit-text-stroke: 1px white;
}

.tf-marquee {
  overflow: hidden;
  padding-top: 102px;
  padding-bottom: 102px;
  display: grid;
  gap: 28px;
}
@media (max-width: 1199px) {
  .tf-marquee {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .tf-marquee {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.infiniteSlide-text,
.infiniteSlide {
  gap: 56px;
  display: flex;
  white-space: nowrap;
}

.infiniteSlide p {
  font-weight: 600;
}

.infiniteSlide-text p {
  font-weight: 600;
  font-size: clamp(64px, 10vw, 150px);
  line-height: clamp(64px, 10vw, 150px);
}

.count-home {
  font-size: clamp(100px, 12vw, 200px);
  line-height: clamp(100px, 12vw, 200px);
  font-weight: 600;
  background: linear-gradient(96.94deg, #6329FF 6.08%, #36F5FF 88.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 24px;
}

.demo-filter {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 575px) {
  .demo-filter {
    margin-left: -6px;
    margin-right: -6px;
  }
  .demo-filter > * {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.s-home-page {
  position: relative;
}
.s-home-page .s-item_blum {
  position: absolute;
  right: 0;
  bottom: -800px;
  z-index: -1;
}

.s-feature {
  position: relative;
}
.s-feature .s-item_blum {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  top: -900px;
}
@media (min-width: 1200px) {
  .s-feature .s-title {
    margin-bottom: 54px;
  }
}

.posttype-filter {
  display: flex;
  gap: 12px;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 30px;
}
@media (min-width: 1440px) {
  .posttype-filter {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .posttype-filter {
    margin-bottom: 40px;
  }
}

.swiper-pagination-lock {
  margin: 0 !important;
}

.sw-dot-default {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.sw-dot-default .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: transparent;
  position: relative;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.sw-dot-default .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-2);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.sw-dot-default .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid var(--black);
}
.sw-dot-default .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: var(--black);
}
@media (max-width: 767px) {
  .sw-dot-default .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }
  .sw-dot-default .swiper-pagination-bullet::before {
    width: 6px;
    height: 6px;
  }
}
.sw-dot-default.style-white .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid var(--white);
}
.sw-dot-default.style-white .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: var(--white);
}
.sw-dot-default.style-white .swiper-pagination-bullet::before {
  background-color: rgba(255, 255, 255, 0.6);
}
.sw-dot-default.type-small {
  gap: 5px;
}
.sw-dot-default.type-small .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
.sw-dot-default.type-small .swiper-pagination-bullet::before {
  width: 4px;
  height: 4px;
  background-color: #AFAFAF;
}
.sw-dot-default.type-small .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 1px solid var(--black);
}
.sw-dot-default.type-small .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  background-color: var(--black);
}
@media (min-width: 1200px) {
  .sw-dot-default {
    margin-top: 35px;
  }
}
@media (min-width: 1440px) {
  .sw-dot-default {
    margin-top: 56px;
  }
}

.dot {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #414141;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dot.style-large {
  width: 31px;
  height: 31px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.1019607843);
}

.home-demo_box {
  margin-bottom: 48px;
  padding: 19px 11px 17px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  display: grid;
  gap: 16px;
  background-color: #121212;
}
.home-demo_box .dot-top {
  display: flex;
  gap: 8px;
}
.home-demo_box .dot {
  width: 10px;
  height: 10px;
}
.home-demo_box .demo-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-demo_box .btn-view_demo {
  position: absolute;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
}
.home-demo_box .image {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-demo_box .image img {
  aspect-ratio: 0.8720930233;
}
.home-demo_box .image::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.home-demo_box:hover {
  color: var(--primary);
  border-color: var(--primary);
}
.home-demo_box:hover .dot {
  background-color: var(--primary);
}
.home-demo_box:hover .image::after {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.home-demo_box:hover .btn-view_demo {
  opacity: 1;
  visibility: visible;
}
.home-demo_box .text_coming {
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.home-demo_box.style-2 {
  padding: 12px;
  padding-bottom: 24px;
  border-radius: 0px;
  position: relative;
  gap: 24px;
}
.home-demo_box.style-2 .image {
  border-radius: 0;
}
.home-demo_box.style-2 .image img {
  object-position: top;
  object-fit: cover;
  aspect-ratio: 0.9466666667;
}
.home-demo_box.style-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #FDB79E 0%, #FEEACD 100%);
  border-image-slice: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.home-demo_box.style-2:hover {
  border-color: transparent;
  color: white;
}
.home-demo_box.style-2:hover::after {
  opacity: 1;
  visibility: visible;
}
.home-demo_box.soon {
  pointer-events: none;
}
.home-demo_box.soon .image {
  position: relative;
  overflow: hidden;
}
.home-demo_box.soon .image::after {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.home-demo_box.soon .text_coming {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
  .home-demo_box {
    margin-bottom: 32px;
  }
  .home-demo_box:not(.style-2) {
    padding: 12px 8px;
    position: relative;
  }
  .home-demo_box:not(.style-2) .btn-view_demo {
    padding: 20px 10px;
    height: 44px;
  }
  .home-demo_box:not(.style-2) .text_coming {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 56px;
    text-align: center;
  }
}

.s-get-start {
  position: relative;
}
.s-get-start .s-title {
  margin-bottom: 32px;
}
.s-get-start .s_item {
  position: absolute;
}
.s-get-start .s_item.pst_1 {
  top: 30.6%;
  left: 6.2%;
}
.s-get-start .s_item.pst_2 {
  top: 64%;
  left: 21.8%;
}
.s-get-start .s_item.pst_3 {
  top: 9%;
  left: 41.94%;
}
.s-get-start .s_item.pst_4 {
  top: 107.965%;
  left: 37.45%;
}
.s-get-start .s_item.pst_5 {
  top: 18.5%;
  left: 85.25%;
}
.s-get-start .s_item.pst_6 {
  top: 59.2%;
  left: 86.5%;
}
.s-get-start .s_item.pst_7 {
  top: 105.2%;
  left: 93.5%;
}

.wg-feature {
  background-color: #121212;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 31px;
  margin-bottom: 48px;
}
.wg-feature .feature_highlight {
  margin-bottom: 16px;
  line-height: 21px;
  font-weight: 600;
}
.wg-feature .feature_name {
  margin-bottom: 8px;
}
.wg-feature .feature_sub {
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 32px;
}
.wg-feature .feature_image {
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .wg-feature {
    padding: 20px 16px;
  }
}
@media (max-width: 1199px) {
  .wg-feature {
    margin-bottom: 32px;
  }
}

.benefit-list {
  display: grid;
  gap: 8px;
}

.benefit-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.benefit-item .icon {
  font-size: 24px;
}

.s-attract {
  position: relative;
}
.s-attract .image-right {
  position: relative;
}
.s-attract .img-item {
  max-width: 200px;
  position: absolute;
  bottom: 75px;
  left: -32px;
  box-shadow: 1.06px 3.57px 5.94px 0px rgba(0, 0, 0, 0.0274509804), 4.75px 15.97px 13.72px 0px rgba(0, 0, 0, 0.0431372549), 11.82px 39.71px 31.33px 0px rgba(0, 0, 0, 0.0549019608), 23.01px 77.31px 66.76px 0px rgba(0, 0, 0, 0.0705882353), 39.08px 131.31px 128px 0px rgba(0, 0, 0, 0.1019607843);
}
.s-attract .s-img_item {
  position: absolute;
  left: 0;
  right: 0;
  top: -102px;
  pointer-events: none;
}
.s-attract .s-img_item img {
  width: 100%;
}
.s-attract .s-item_blum {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-31%);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.s-attract .s-item_blum-2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -34%;
  z-index: -1;
  display: flex;
}
.s-attract .benefit-list {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .s-attract .img-item {
    left: -48px;
  }
  .s-attract .benefit-list {
    margin-bottom: 64px;
  }
}
@media (min-width: 1440px) {
  .s-attract .img-item {
    left: -75px;
  }
}
@media (max-width: 991px) {
  .s-attract .img-item {
    max-width: 150px;
    left: 60px;
    bottom: 60px;
  }
}
@media (max-width: 575px) {
  .s-attract .img-item {
    max-width: 76px;
    left: 30px;
    bottom: 30px;
  }
}

.attract-wrap .content-left {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .s-inner-page .s-title {
    line-height: 88px;
    margin-bottom: 56px;
  }
}

.wg-box-icon {
  padding: 20px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 98.21%);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(4px);
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wg-box-icon .icon {
  max-width: 100px;
  margin-bottom: 24px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wg-box-icon .name {
  margin-bottom: 8px;
}
.wg-box-icon::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #FDB79E 0%, #FEEACD 100%);
  border-image-slice: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.wg-box-icon:hover {
  border-color: transparent;
}
.wg-box-icon:hover .icon {
  transform: rotateY(180deg);
}
.wg-box-icon:hover::after {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 1200px) {
  .wg-box-icon {
    padding: 48px 32px 40px;
  }
  .wg-box-icon .icon {
    max-width: 150px;
    margin-bottom: 35px;
  }
}

.swiper-slide {
  height: auto;
}
.swiper-slide > * {
  height: 100%;
}

@media (max-width: 1439px) {
  .grid-box_icon,
  .grid-tech {
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .grid-box_icon,
  .grid-tech {
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .grid-tech {
    gap: 8px;
  }
}

.wg-tech-use {
  background: #191E24;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  aspect-ratio: 1;
  padding: 6px;
}
.wg-tech-use .icon {
  margin-bottom: 8px;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  max-width: 48px;
}
.wg-tech-use:hover .icon {
  transform: rotateY(180deg);
}
@media (max-width: 991px) {
  .wg-tech-use .icon {
    max-width: 35px;
  }
}

.s-tech-use {
  position: relative;
}
.s-tech-use .s-item_blum {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -900px;
  right: 0;
  display: flex;
}

.cta-wrap {
  padding: 64px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 98.21%);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(4px);
  margin-top: 44px;
}
.cta-wrap::after, .cta-wrap::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 98.21%);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(4px);
  height: 23px;
}
.cta-wrap::after {
  left: 24px;
  right: 24px;
  top: -22px;
  z-index: 1;
}
.cta-wrap::before {
  left: 48px;
  right: 48px;
  top: -44px;
  z-index: 0;
}
.cta-wrap .cta_text {
  margin-bottom: 32px;
}
@media (max-width: 1199px) {
  .cta-wrap {
    padding: 30px 16px;
  }
  .cta-wrap .cta_text {
    margin-bottom: 24px;
  }
}

.s-cta .cta-wrap {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .s-cta .cta-wrap {
    margin-bottom: 64px;
  }
}

/* -- Footer -- */
.tf-footer {
  position: relative;
}
.tf-footer .ft-item_blum {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}
.tf-footer .ft-item_blum-2 {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}

.ft-bottom_center {
  display: flex;
  justify-content: center;
}

.box-policy {
  display: flex;
  gap: 32px;
  background: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(4px);
  padding: 15px 31px;
  border-radius: 999px;
}

.device-mobile_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.device-mobile_item .wrap-video {
  position: relative;
  padding: 12px;
  aspect-ratio: 0.4916540212;
  display: flex;
  justify-content: center;
  width: 100%;
}
.device-mobile_item .img-phone_simlation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.device-mobile_item video {
  border-radius: 40px;
  width: 100%;
  position: relative;
  z-index: 5;
}
@media (max-width: 1199px) {
  .device-mobile_item {
    gap: 12px;
  }
  .device-mobile_item video {
    border-radius: 60px;
  }
}
@media (max-width: 767px) {
  .device-mobile_item video {
    border-radius: 42px;
  }
}

.footer-inner {
  padding-top: 144px;
  padding-bottom: 141px;
}
.footer-inner .hero-title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .footer-inner .hero-title {
    margin-bottom: 64px;
  }
}
@media (max-width: 1199px) {
  .footer-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .footer-inner {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1199px) {
  .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* -- Spacing Section -- */
.s-home-page {
  padding-top: 88px;
}
@media (max-width: 991px) {
  .s-home-page {
    padding-top: 60px;
  }
}

.s-get-start {
  padding-top: 107px;
  padding-bottom: 135px;
}
@media (max-width: 1199px) {
  .s-get-start {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .s-get-start {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .s-get-start {
    padding-top: 48px;
  }
}

.s-attract {
  padding-top: 54px;
}
.s-attract .attract-wrap {
  padding-bottom: 102px;
}
@media (max-width: 1199px) {
  .s-attract {
    padding-top: 48px;
  }
  .s-attract .attract-wrap {
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .s-attract {
    padding-top: 28px;
  }
  .s-attract .attract-wrap {
    padding-bottom: 60px;
  }
}

.s-inner-page {
  padding-top: 46px;
}
@media (max-width: 1199px) {
  .s-inner-page {
    padding-top: 48px;
  }
}
@media (max-width: 991px) {
  .s-inner-page {
    padding-top: 28px;
  }
}

.flat-spacing {
  padding-top: 102px;
  padding-bottom: 102px;
}
@media (max-width: 1199px) {
  .flat-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 991px) {
  .flat-spacing {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.s-cta {
  padding-top: 86px;
}
@media (max-width: 1199px) {
  .s-cta {
    padding-top: 80px;
  }
}
@media (max-width: 991px) {
  .s-cta {
    padding-top: 60px;
  }
}

.banner-hero {
  padding-bottom: 180px;
}
@media (max-width: 1199px) {
  .banner-hero {
    padding-bottom: 120px;
  }
}
@media (max-width: 991px) {
  .banner-hero {
    padding-bottom: 80px;
  }
}

/* -- Sib Form -- */
.sib-form {
  padding: 0;
  font-family: "Afacad", sans-serif !important;
}
.sib-form .entry__field {
  background-color: unset;
  border: 0;
  box-shadow: none !important;
  margin: 0;
}

#sib-container {
  background-color: unset;
  padding: 0;
}

.sib-form .entry__specification,
.sib-form .entry__error,
.entry__specification,
.entry__label {
  margin: 0 !important;
}

.sib-form-block {
  padding: 0;
}

.sib-optin {
  display: none;
}

#sib-form {
  position: relative;
}

.form-get_email {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(4px);
  padding: 11px;
  border-radius: 999px;
}
.form-get_email .ip {
  flex: 1;
}
.form-get_email .ip input {
  background: rgba(255, 255, 255, 0.1019607843);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  backdrop-filter: blur(4px);
  padding-left: 0;
  padding-right: 0;
  padding: 15px 31px !important;
  border-radius: 999px;
  height: unset;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.form-get_email .form-content {
  display: flex;
  gap: 12px;
}
@media (max-width: 1439px) {
  .form-get_email input {
    padding: 13px 25px;
  }
}
@media (max-width: 575px) {
  .form-get_email {
    border-radius: 16px;
  }
  .form-get_email .form-content {
    flex-direction: column;
  }
  .form-get_email .form-content > * {
    width: 100%;
  }
}

.form-content_fieldset {
  display: flex;
  gap: 12px;
}
.form-content_fieldset .fieldset-input_email {
  flex: 1;
}
.form-content_fieldset .entry__error,
.form-content_fieldset .entry__specification {
  text-align: center;
}
.form-content_fieldset .entry_errored .form__label-row {
  margin-bottom: 16px;
}
@media (min-width: 576px) {
  .form-content_fieldset .entry__error,
  .form-content_fieldset .entry__specification {
    position: absolute;
    top: calc(100% + 20px);
    left: 30px;
    text-align: start;
  }
  .form-content_fieldset .entry_errored .form__label-row {
    margin-bottom: 0px;
  }
}
@media (min-width: 1440px) {
  .form-content_fieldset .fiedset-button_submit {
    min-width: 224px;
  }
}
@media (max-width: 575px) {
  .form-content_fieldset {
    flex-direction: column;
  }
}

/* Animation */
.effect-scroll {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@keyframes moveGradient {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
.ani-bg_linear {
  background: linear-gradient(90deg, #fdb79e 0%, #fdd1b1 25%, #feeacd 50%, #fdd1b1 75%, #fdb79e 100%);
  background-size: 200% 100%;
  background-position: 200% 0;
  animation: bgMoveSmooth 3s linear infinite;
}

@keyframes bgMoveSmooth {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 0% 0;
  }
}
@keyframes bgMove {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 0% 0;
  }
}
.scroll-3d-wrapper {
  perspective: 700px;
  transform-style: preserve-3d;
  perspective-origin: 100% 0%;
  overflow: hidden;
}

.effect-scroll-2 {
  transform-origin: 50% 0;
  will-change: transform, opacity;
}

.rotate-infinite {
  animation: rotate 2s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bounce-soft {
  display: inline-block;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes shine {
  100% {
    left: -200%;
  }
}
@keyframes shine {
  100% {
    left: -200%;
  }
}
@-webkit-keyframes shine2 {
  20% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
@keyframes shine2 {
  20% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
@keyframes infiniteScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes iconBounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/*# sourceMappingURL=styles.css.map */
